<a id="TableOfContents"></a>
# TABLE OF CONTENTS:
<li><a href='#imports'>Imports</a></li>
<li><a href="#acquire">Acquire</a></li>
<li><a href='#prepare'>Prepare</a></li>
<li><a href='#extra'>Extra</a></li>

<a id="imports"></a>
# Imports:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Vectorization and tables
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Stats
from scipy import stats

# .py files
import wrangle

<a id="acquire"></a>
# Acquire:
<li><a href='#TableOfContents'>Table of Contents</a></li>

Acquire everything from the vanilla zillow database via SQL query and connection

- Vanilla shape:
    - Rows: 2,985,417
    - Columns: 68

In [2]:
zillow = wrangle.acquire()
zillow.shape

/Users/manupfool/codeup-data-science/zillow_project/wrangle.py:70: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv('zillow.csv', index_col=0)

(2985417, 68)

<a id="prepare"></a>
# Prepare:
<li><a href='#TableOfContents'>Table of Contents</a></li>

### List o' shit to fix:
- Remove columns
    - typeconstructiontypeid
        - ID unnecessary
    - storytypeid
        - ID unnecessary
    - heatingorsystemtypeid
        - ID unnecessary
    - buildingclasstypeid
        - ID unnecessary
    - architecturalstyletypeid
        - ID unnecessary
    - airconditioningtypeid
        - ID unnecessary
    - propertylandusetypeid
        - ID unnecessary
    - id
        - ID unnecessary
    - buildingqualitytypeid
        - ID unnecessary
    - decktypeid
        - ID unnecessary
    - pooltypeid10
        - ID unnecessary
    - pooltypeid7
        - ID unnecessary
    - propertycountylandusecode
        - ID unnecessary
    - regionidcounty
        - ID unnecessary
    - structuretaxvaluedollarcnt
        - Per instruction
    - landtaxvaluedollarcnt
        - Per instruction
    - taxamount
        - Per instruction
    - basementsqft
        - 99% Nulls
    - fireplacecnt
        - 90% Nulls
    - garagecarcnt
        - 70% Nulls
    - garagetotalsqft
        - 70% Nulls
    - hashottuborspa
        - 98% Nulls
    - poolcnt
        - 82% Nulls
    - poolsizesum
        - 99% Nulls
    - regionidneighborhood
        - 61% Nulls
    - threequarterbathnbr
        - 89% Nulls
    - unitcnt
        - 34% Nulls
    - numberofstories
        - 77% Nulls
    - fireplaceflag
        - 99% Nulls
    - taxdelinquencyflag
        - 98% Nulls
    - taxdelinquencyyear
        - 98% Nulls
    - airconditioningdesc
        - 73% Nulls
    - architecturalstyledesc
        - 99% Nulls
    - buildingclassdesc
        - 99% Nulls
    - heatingorsystemdesc
        - 37% Nulls
    - storydesc
        - 99% Nulls
    - typeconstructiondesc
        - 99% Nulls
    - calculatedbathnbr
        - Unsure as to what is being described
    - latitude
        - Exact location currently unnecessary
    - longitude
        - Exact location currently unnecessary
    - regionidzip
        - Zipcode currently unnecessary
    - finishedfloor1squarefeet
        - 93% Nulls
    - finishedsquarefeet13
        - 99% Nulls
    - finishedsquarefeet15
        - 94% Nulls
    - finishedsquarefeet50
        - 93% Nulls
    - finishedsquarefeet6
        - 99% Nulls
    - propertyzoningdesc
        - 34% Nulls
    - yardbuildingsqft17
        - 97% Nulls
    - yardbuildingsqft26
        - 99% Nulls
    - logerror
        - 97% Nulls
    - transactiondate
        - 97% Nulls
    - finishedsquarefeet12
        - Unsure as to what is being described
    - parcelid
        - ID unnecessary
    - rawcensustractandblock
        - Census specific location identifier unnecessary
    - censustractandblock
        - Census specific location identifier unnecessary
    - pooltypeid2
        - 99% Nulls
- Fix columns
    - fips
        - ID ==> County name
        - fips ==> county_name
    - yearbuilt
        - Fill with mode
    - bathroomcnt
        - Fill with mode
        - bathroomcnt ==> bathrooms
    - bedroomcnt
        - Fill with mode
        - bedroomcnt ==> bedrooms
    - calculatedfinishedsquarefeet
        - Fill with mean
        - calculatedfinishedsquarefeet ==> home_sqft
    - fullbathcnt
        - Fill with mode
        - fullbathcnt ==> full_bathrooms
    - lotsizesquarefeet
        - Fill with mean
        - lotsizesquarefeet ==> lotsize_sqft
    - regionidcity
        - ID ==> City name
        - Fill with mode
        - regionidcity ==> city_name
    - roomcnt
        - Fill with mode
        - roomcnt ==> rooms
    - taxvaluedollarcnt
        - Fill with mean
        - taxvaluedollarcnt ==> taxvalue
    - assessmentyear
        - Fill with mode
        - assessmentyear ==> yearassessed
    - propertylandusedesc
        - Fill with mode
        - propertylandusedesc ==> property_type

In [5]:
zillow

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,transactiondate,propertylandusedesc,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,NaN,NaN,NaN,NaN,NaN,NaN,261.0,17173851,787,NaN,...,6.111004e+13,0.088469,2017-01-03,Single Family Residential,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,NaN,NaN,NaN,261.0,10821119,1702,NaN,...,6.037131e+13,0.025629,2017-01-03,Single Family Residential,NaN,NaN,NaN,Central,NaN,NaN
2,NaN,NaN,2.0,NaN,NaN,1.0,266.0,10859051,1853,NaN,...,6.037141e+13,0.026735,2017-01-03,Condominium,Central,NaN,NaN,Central,NaN,NaN
3,NaN,NaN,2.0,NaN,NaN,1.0,261.0,11007640,2412,NaN,...,6.037106e+13,0.020360,2017-01-12,Single Family Residential,Central,NaN,NaN,Central,NaN,NaN
4,NaN,NaN,7.0,NaN,NaN,NaN,261.0,11457850,3770,NaN,...,6.037276e+13,0.054233,2017-01-11,Single Family Residential,NaN,NaN,NaN,Floor/Wall,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13883815,2985001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12572616,2985015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11219616,2985017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11818619,2985066,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11758820,2985073,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Drop that shit
zillow = zillow.drop(columns=[ 
    'typeconstructiontypeid',
    'storytypeid',
    'heatingorsystemtypeid',
    'buildingclasstypeid',
    'architecturalstyletypeid',
    'airconditioningtypeid',
    'propertylandusetypeid',
    'id',
    'buildingqualitytypeid',
    'decktypeid',
    'pooltypeid10',
    'pooltypeid7',
    'propertycountylandusecode',
    'regionidcounty',
    'structuretaxvaluedollarcnt',
    'landtaxvaluedollarcnt',
    'taxamount',
    'basementsqft',
    'fireplacecnt',
    'garagecarcnt',
    'garagetotalsqft',
    'hashottuborspa',
    'poolcnt',
    'poolsizesum',
    'regionidneighborhood',
    'threequarterbathnbr',
    'unitcnt',
    'numberofstories',
    'fireplaceflag',
    'taxdelinquencyflag',
    'taxdelinquencyyear',
    'airconditioningdesc',
    'architecturalstyledesc',
    'buildingclassdesc',
    'heatingorsystemdesc',
    'storydesc',
    'typeconstructiondesc',
    'calculatedbathnbr',
    'latitude',
    'longitude',
    'regionidzip',
    'finishedfloor1squarefeet',
    'finishedsquarefeet13',
    'finishedsquarefeet15',
    'finishedsquarefeet50',
    'finishedsquarefeet6',
    'propertyzoningdesc',
    'yardbuildingsqft17',
    'yardbuildingsqft26',
    'logerror',
    'transactiondate',
    'finishedsquarefeet12',
    'parcelid',
    'rawcensustractandblock',
    'censustractandblock',
    'pooltypeid2'])

In [20]:
zillow[zillow.regionidcity == 118878]

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,fullbathcnt,lotsizesquarefeet,regionidcity,roomcnt,yearbuilt,taxvaluedollarcnt,assessmentyear,propertylandusedesc
5,2.0,3.0,1352.0,6037.0,2.0,6134.0,118878.0,0.0,1959.0,482242.0,2016.0,Single Family Residential
250,3.0,4.0,2352.0,6037.0,3.0,5398.0,118878.0,0.0,1989.0,293034.0,2016.0,Single Family Residential
285,1.0,0.0,415.0,6037.0,1.0,296211.0,118878.0,0.0,1973.0,137058.0,2016.0,Condominium
585,3.0,3.0,1472.0,6037.0,3.0,132431.0,118878.0,0.0,1979.0,290133.0,2016.0,Condominium
953,3.0,3.0,1380.0,6037.0,3.0,NaN,118878.0,0.0,2009.0,390085.0,2016.0,Condominium
...,...,...,...,...,...,...,...,...,...,...,...,...
2982871,2.0,2.0,959.0,6037.0,2.0,229579.0,118878.0,0.0,1980.0,226330.0,2016.0,Condominium
2984259,3.0,3.0,1894.0,6037.0,3.0,198322.0,118878.0,0.0,1998.0,435024.0,2016.0,Planned Unit Development
2984716,2.0,3.0,1295.0,6037.0,2.0,5026.0,118878.0,0.0,1960.0,348431.0,2016.0,Single Family Residential
2984717,2.0,3.0,1148.0,6037.0,2.0,5936.0,118878.0,0.0,1959.0,60722.0,2016.0,Single Family Residential
2984722,3.0,3.0,1624.0,6037.0,3.0,164774.0,118878.0,0.0,1984.0,255635.0,2016.0,Planned Unit Development

In [39]:
zillow.regionidcity.fillna(0).astype(int).unique()

array([ 47198,  12447, 118878,  53636,  24384,      0,  21412,  37086,
        15554,  13150,  38980,   5534,  45398,  10723,  20008,  24812,
        33837,  52835,  34278,  40227,  46298,  24245,  34636,  12773,
        54311,  16961, 118225,  33836,  33252,  11626,  27110,  14634,
        14542,  38032,  25459,   5465,  51239,  30187,  39076,  44116,
        12292,  19177,  25218,   8384,  34543,  51617,  26964,  32616,
        45602,  32380,  52650,  27491,  10389,  12520,  51861,  17150,
        16764,  53655,   9840,  46080,  32753,  18874,  26531,  13693,
        46098,  33612,  48424,  39308,  53571,  46314, 396550,  47568,
        33840, 396054,  45457, 396053,  40110, 272578,  24174,  25974,
        25953,  53027,  32923,  17686,  47547,  54722,  41673,  50749,
        22827,  24832,   4406,  14111,  34780,  25458,  13091,  45888,
        54212,  50677,   6395,  10774, 396556,  37015,  30908,  10608,
       118694,  47019,  27183,  26483,  52842,  40009,  54970,  15237,
        26965,  54053,  40081,  10734,  39306,  33311,  29189,   6021,
        42150,  10241,  29712,  17882,  30267,  24435,  17597,  44833,
        47762,  47695, 396551, 118914,  13716,  46178, 118895, 113412,
        33727, 118994,  36502,  54352,  21778,  33312,  27103,  54299,
        55753,   3491,  30399,  18098, 118217,  16389, 113576,  42091,
        56780,  37688,  42967, 118875, 116042,  25271,  13232,  16677,
       114828,  14906,  34037,  25621, 118880,  18875,  25468,  53162,
        41484,  13311, 114834,  31134,   6822,  32927,  37882,  19202,
         3980,   6285,  10815,  21395,  24797,  25535,  27512,  40633,
        48211,  36078,  47913])

In [5]:
# Fill that shit

# bathroomcnt
# Fill na with mode = 2.0
# Leave as float type (HAS FLOATS)
zillow.bathroomcnt = zillow.bathroomcnt.fillna(2.0)

# bedroomcnt
# Fill na with mode = 3.0 
# Change to int type (NO FLOATS)
zillow.bedroomcnt = zillow.bedroomcnt.fillna(3.0).astype(int)

# calculatedfinishedsquarefeet
# Fill na with mean = 1831.44 
# Leave as float, but filled values are the only floats (ONLY FLOAT)
zillow.calculatedfinishedsquarefeet = zillow.calculatedfinishedsquarefeet.fillna(1831.44)

# fips
# Fill na with mode = 6037 
zillow.fips = zillow.fips.fillna(6037).astype(int)

# fullbathcount
# Fill na with mode = 2.0 
# Change to int type (NO FLOATS)
zillow.fullbathcnt = zillow.fullbathcnt.fillna(2.0).astype(int)

# lotsizesquarefeet
# Fill na with mean = 22604.34 
# Leave as float type (HAS FLOATS)
zillow.lotsizesquarefeet = zillow.lotsizesquarefeet.fillna(22604.34)

# regionidcity
# Fill na with mode = 12447 
# Change to int type (NO FLOATS)
zillow.regionidcity = zillow.regionidcity.fillna(12447).astype(int)

# roomcnt
# Fill na with mode = 0 
# Change to int type (NO FLOATS)
zillow.roomcnt = zillow.roomcnt.fillna(0).astype(int)

# yearbuilt
# Fill na with mode = 1955 
# Change to int type (NO FLOATS)
zillow.yearbuilt = zillow.yearbuilt.fillna(1955).astype(int)

# taxvaluedollarcnt
# Fill na with mean = 443531.42 
# Leave as float, filled values are the only floats (ONLY FLOAT)
zillow.taxvaluedollarcnt = zillow.taxvaluedollarcnt.fillna(443531.42)

# assessmentyear
# Fill na with mode = 2016 
# Change to int type (NO FLOATS)
zillow.assessmentyear = zillow.assessmentyear.fillna(2016).astype(int)

# propertylandusedesc
# Fill na with mode = 'Single Family Residential'
# Leave as object type
zillow.propertylandusedesc = zillow.propertylandusedesc.fillna('Single Family Residential')

In [9]:
# Fix that shit

# fips 
# 6037 ==> Los Angeles
# 6059 ==> Orange
# 6111 ==> Ventura
# Ensure object type
conditions = [
    zillow.fips == 6037,
    zillow.fips == 6059,
    zillow.fips == 6111
]

choices = [
    'Los Angeles',
    'Orange',
    'Ventura'
]

zillow.fips = np.select(conditions, choices)

# regionidcity

In [19]:
zillow.regionidcity.value_counts().to_list()

[733053,
 93462,
 59797,
 58620,
 57017,
 54304,
 49127,
 47764,
 46280,
 42115,
 38794,
 37823,
 36093,
 35621,
 34451,
 33810,
 33338,
 32553,
 31381,
 30356,
 29237,
 25782,
 25037,
 24817,
 24591,
 24168,
 23034,
 22562,
 22467,
 22268,
 21986,
 21560,
 21332,
 20858,
 20627,
 20243,
 20148,
 19990,
 19129,
 18993,
 18426,
 17829,
 17744,
 17461,
 16590,
 16531,
 16362,
 15990,
 15833,
 15677,
 15190,
 14976,
 14769,
 14556,
 14529,
 13788,
 13750,
 13613,
 13539,
 13506,
 13500,
 13314,
 13085,
 12992,
 12395,
 12189,
 12143,
 12041,
 11925,
 11744,
 11701,
 11683,
 11561,
 11446,
 11374,
 11269,
 11260,
 10401,
 10396,
 10226,
 9815,
 9799,
 9759,
 9167,
 9075,
 9075,
 8984,
 8964,
 8431,
 7986,
 7986,
 7772,
 7686,
 7673,
 7660,
 7545,
 7513,
 7465,
 7214,
 7005,
 6987,
 6655,
 6615,
 6542,
 6521,
 6335,
 6029,
 5913,
 5697,
 5638,
 5527,
 5479,
 5453,
 5412,
 5296,
 5037,
 4998,
 4922,
 4880,
 4848,
 4499,
 4428,
 4421,
 4391,
 4356,
 4309,
 4200,
 4122,
 3973,
 3822,
 3786,
 3773,
 3773,
 3676,
 3552,
 3539,
 3514,
 3188,
 3188,
 3165,
 3135,
 2861,
 2754,
 2625,
 2614,
 2402,
 2330,
 2292,
 2130,
 1984,
 1978,
 1817,
 1790,
 1782,
 1225,
 1124,
 1076,
 798,
 781,
 760,
 717,
 696,
 666,
 623,
 597,
 582,
 448,
 425,
 402,
 274,
 183,
 182,
 110,
 86,
 77,
 24,
 23,
 23,
 20,
 19,
 17,
 12,
 12,
 7,
 6,
 3]

In [9]:
# Rename that shit

zillow = zillow.rename(columns={
    'bathroomcnt' : 'bathrooms',
    'bedroomcnt' : 'bedrooms',
    'calculatedfinishedsquarefeet' : 'home_sqft',
    'fips' : 'county_name',
    'fullbathcnt' : 'full_bathrooms',
    'lotsizesquarefeet' : 'lotsize_sqft',
    'regionidcity' : 'city_name',
    'roomcnt' : 'rooms',
    'taxvaluedollarcnt' : 'taxvalue',
    'assessmentyear' : 'yearassessed',
    'propertylandusedesc' : 'property_type'
})

,bathrooms,bedrooms,home_sqft,county_name,full_bathrooms,lotsize_sqft,city_name,rooms,yearbuilt,taxvalue,yearassessed,property_type
0,2.0,4,1848.00,6111,2,11396.00,47198,6,1952,64712.00,2016,Single Family Residential
1,2.0,2,1430.00,6037,2,6299.00,12447,0,1952,381638.00,2016,Single Family Residential
2,3.0,2,1347.00,6037,3,28939.00,12447,0,1974,177899.00,2016,Condominium
3,2.0,3,1572.00,6037,2,8683.00,12447,0,1976,305307.00,2016,Single Family Residential
4,2.0,3,1412.00,6037,2,6000.00,12447,0,1941,93146.00,2016,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...
2985412,2.0,3,1831.44,6037,2,22604.34,12447,0,1955,443531.42,2016,Single Family Residential
2985413,2.0,3,1831.44,6037,2,22604.34,12447,0,1955,443531.42,2016,Single Family Residential
2985414,2.0,3,1831.44,6037,2,22604.34,12447,0,1955,443531.42,2016,Single Family Residential
2985415,2.0,3,1831.44,6037,2,22604.34,12447,0,1955,443531.42,2016,Single Family Residential
2985416,2.0,3,1831.44,6037,2,22604.34,12447,0,1955,443531.42,2016,Single Family Residential

<a id="extra"></a>
# Extra:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [37]:
len(zipcodes)

159

In [41]:
test =[47198,  12447, 118878,  53636,  24384,      0,  21412,  37086,
        15554,  13150,  38980,   5534,  45398,  10723,  20008,  24812,
        33837,  52835,  34278,  40227,  46298,  24245,  34636,  12773,
        54311,  16961, 118225,  33836,  33252,  11626,  27110,  14634,
        14542,  38032,  25459,   5465,  51239,  30187,  39076,  44116,
        12292,  19177,  25218,   8384,  34543,  51617,  26964,  32616,
        45602,  32380,  52650,  27491,  10389,  12520,  51861,  17150,
        16764,  53655,   9840,  46080,  32753,  18874,  26531,  13693,
        46098,  33612,  48424,  39308,  53571,  46314, 396550,  47568,
        33840, 396054,  45457, 396053,  40110, 272578,  24174,  25974,
        25953,  53027,  32923,  17686,  47547,  54722,  41673,  50749,
        22827,  24832,   4406,  14111,  34780,  25458,  13091,  45888,
        54212,  50677,   6395,  10774, 396556,  37015,  30908,  10608,
       118694,  47019,  27183,  26483,  52842,  40009,  54970,  15237,
        26965,  54053,  40081,  10734,  39306,  33311,  29189,   6021,
        42150,  10241,  29712,  17882,  30267,  24435,  17597,  44833,
        47762,  47695, 396551, 118914,  13716,  46178, 118895, 113412,
        33727, 118994,  36502,  54352,  21778,  33312,  27103,  54299,
        55753,   3491,  30399,  18098, 118217,  16389, 113576,  42091,
        56780,  37688,  42967, 118875, 116042,  25271,  13232,  16677,
       114828,  14906,  34037,  25621, 118880,  18875,  25468,  53162,
        41484,  13311, 114834,  31134,   6822,  32927,  37882,  19202,
         3980,   6285,  10815,  21395,  24797,  25535,  27512,  40633,
        48211,  36078,  47913]

In [57]:
df = pd.DataFrame(new_test)
df

          0
0         0
1      3491
2      3980
3      4406
4      5465
..      ...
182  396053
183  396054
184  396550
185  396551
186  396556

[187 rows x 1 columns]

In [62]:
new_test

[0,
 3491,
 3980,
 4406,
 5465,
 5534,
 6021,
 6285,
 6395,
 6822,
 8384,
 9840,
 10241,
 10389,
 10608,
 10723,
 10734,
 10774,
 10815,
 11626,
 12292,
 12447,
 12520,
 12773,
 13091,
 13150,
 13232,
 13311,
 13693,
 13716,
 14111,
 14542,
 14634,
 14906,
 15237,
 15554,
 16389,
 16677,
 16764,
 16961,
 17150,
 17597,
 17686,
 17882,
 18098,
 18874,
 18875,
 19177,
 19202,
 20008,
 21395,
 21412,
 21778,
 22827,
 24174,
 24245,
 24384,
 24435,
 24797,
 24812,
 24832,
 25218,
 25271,
 25458,
 25459,
 25468,
 25535,
 25621,
 25953,
 25974,
 26483,
 26531,
 26964,
 26965,
 27103,
 27110,
 27183,
 27491,
 27512,
 29189,
 29712,
 30187,
 30267,
 30399,
 30908,
 31134,
 32380,
 32616,
 32753,
 32923,
 32927,
 33252,
 33311,
 33312,
 33612,
 33727,
 33836,
 33837,
 33840,
 34037,
 34278,
 34543,
 34636,
 34780,
 36078,
 36502,
 37015,
 37086,
 37688,
 37882,
 38032,
 38980,
 39076,
 39306,
 39308,
 40009,
 40081,
 40110,
 40227,
 40633,
 41484,
 41673,
 42091,
 42150,
 42967,
 44116,
 44833,
 45398,
 45457,
 45602,
 45888,
 46080,
 46098,
 46178,
 46298,
 46314,
 47019,
 47198,
 47547,
 47568,
 47695,
 47762,
 47913,
 48211,
 48424,
 50677,
 50749,
 51239,
 51617,
 51861,
 52650,
 52835,
 52842,
 53027,
 53162,
 53571,
 53636,
 53655,
 54053,
 54212,
 54299,
 54311,
 54352,
 54722,
 54970,
 55753,
 56780,
 113412,
 113576,
 114828,
 114834,
 116042,
 118217,
 118225,
 118694,
 118875,
 118878,
 118880,
 118895,
 118914,
 118994,
 272578,
 396053,
 396054,
 396550,
 396551,
 396556]

In [63]:
temp1 = [0,
 3491,
 3980,
 4406,
 5465,
 5534,
 6021,
 6285,
 6395,
 6822,
 8384,
 9840,
 10241,
 10389,
 10608,
 10723,
 10734,
 10774,
 10815,
 11626,
 12292,
 12447,
 12520,
 12773,
 13091,
 13150,
 13232,
 13311,
 13693,
 13716,
 14111,
 14542,
 14634,
 14906,
 15237,
 15554,
 16389,
 16677,
 16764,
 16961,
 17150,
 17597,
 17686,
 17882,
 18098,
 18874,
 18875,
 19177,
 19202]

In [64]:
len(temp1)

49

In [71]:
temp1name = ['Los Angeles',
'San Francisco',
'San Jose',
'Sacramento',
'Oakland',
'Berkeley',
'Fresno',
'Long Beach',
'Pasadena',
'Santa Monica',
'Santa Cruz',
'Irvine',
'Santa Barbara',
'San Luis Obispo',
'San Diego',
'Carlsbad',
'Chula Vista',
'El Cajon',
'Escondido',
'Oceanside',
'Palm Springs',
'Riverside',
'Corona',
'Temecula',
'Anaheim',
'Fullerton',
'Huntington Beach',
'Newport Beach',
'Orange',
'Santa Ana',
'Thousand Oaks',
'Simi Valley',
'Ventura',
'Bakersfield',
'Santa Clarita',
'Valencia',
'Pasadena',
'Glendale',
'Burbank',
'Palmdale',
'Lancaster',
'Pomona',
'Redlands',
'San Bernardino',
'Ontario',
'Fontana',
'Rancho Cucamonga',
'Chico',
'Davis']

In [72]:
len(temp1name)

49

In [73]:
temp2 = [20008,
 21395,
 21412,
 21778,
 22827,
 24174,
 24245,
 24384,
 24435,
 24797,
 24812,
 24832,
 25218,
 25271,
 25458,
 25459,
 25468,
 25535,
 25621,
 25953,
 25974,
 26483,
 26531,
 26964,
 26965,
 27103,
 27110,
 27183,
 27491,
 27512,
 29189,
 29712,
 30187,
 30267,
 30399,
 30908,
 31134,
 32380,
 32616,
 32753,
 32923,
 32927,
 33252,
 33311,
 33312,
 33612,
 33727,
 33836,
 33837,
 33840,
 34037,
 34278,
 34543,
 34636,
 34780,
 36078,
 36502,
 37015,
 37086,
 37688,
 37882,
 38032,
 38980,
 39076,
 39306,
 39308,
 40009,
 40081,
 40110,
 40227,
 40633,
 41484,
 41673,
 42091,
 42150,
 42967,
 44116,
 44833,
 45398]

In [74]:
len(temp2)

79

In [75]:
temp2name =

In [76]:
len(temp2name)

77